node_modules
.env
coverage
coverage.json
typechain

# Hardhat/Foundry files
cache
cache-hardhat
artifacts
artifacts-hardhat
broadcast

# logs
*.log

# eslint
.eslintcache

# Visual Studio Code
.vscode
